<div class="tasks-header">
  <h1>Tasks</h1>
  <button mat-flat-button (click)="openAddTaskDialog()">Add Task</button>
</div>
<div class="tasks-container">
  <div *ngFor="let dailySchedule of daysSchedule$ | async" class="tasks-list">
    <b class="task-item-title">{{ dailySchedule.day }}</b>
    <div *ngFor="let task of dailySchedule.tasks" class="task-item">
      <div class="task-item-content">
        <div>
          <p class="task-title">{{ task.title }}</p>
          <p class="task-interval">{{ task.startTime }} - {{ task.endTime }}</p>
        </div>
        <div class="task-actions">
          <mat-icon class="task-action-icon" (click)="deleteTask(task)"
            >delete</mat-icon
          >
          <mat-icon class="task-action-icon" (click)="openEditTaskDialog(task)"
            >edit</mat-icon
          >
        </div>
      </div>
    </div>
  </div>
</div>
